@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
    Layout = null;
}
<!doctype html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>List of Responses</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="text-center p-2">
            <h1 class="text-center">Here is a list of people who will attend the party!</h1>
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr><th>Name</th><th>Email</th><th>Phone/Cell Number</th></tr>
                </thead>
                <tbody>
                    @foreach (PartyInvites.Models.GuestResponse r in Model!)
                    {
                        <tr>
                            <td>@r.Name</td>
                            <td>@r.Email</td>
                            <td>@r.Phone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </body>
</html>
